{% extends "base.html" %} {% block title %}About{% endblock %} {% block content %}
<h1 align="center">About Elera Voice Assistant</h1>

<img src="{{ url_for('static', filename='logo-black.png') }}" alt="My Image">
<h2>Elera - Virtual Assistant</h2>
<p><strong>Overview:</strong> Elera is a virtual assistant that utilizes cutting-edge AI technology to provide efficient and practical support to individuals. With features such as automated emailing, YouTube and Wikipedia integration, ChatGPT integration, question answering, Google services, and more, Elera is designed to streamline tasks and enhance productivity.</p>
<h3>Key Features:</h3>
<ul>
  <li><strong>Automated Emailing:</strong> Elera is equipped with an automated emailing system that can manage and respond to emails on behalf of users, saving time and effort.<strong> COMMING SOON</strong></li>
  <li><strong>YouTube and Wikipedia Integration:</strong> With Elera, users can easily search and play YouTube videos and access Wikipedia articles directly through the virtual assistant without switching between applications.</li>
  <li><strong>Question Answering:</strong> Elera has a built-in question-answering feature that can provide accurate and timely responses to various inquiries.</li>
</ul>
<p><strong>Market Analysis:</strong> The virtual assistant market is growing rapidly, with increasing demand for automation and streamlined processes in both personal and professional settings. Elera is positioned to meet this demand with its advanced features and user-friendly interface.</p>
<p><strong>Conclusion:</strong> Elera is a robust and comprehensive virtual assistant offering various features to streamline tasks and enhance productivity. With its innovative technology and user-friendly interface, Elera is going for continued growth and success in the virtual assistant market.</p>
<h3>Competitive Analysis:</h3>
<p>While other virtual assistant options are available, Elera sets itself apart by integrating multiple features which includes scheduled/automated email response, YouTube and Wikipedia references, Full AI compatibility, and query-response. All of these are powered by ChatGPT. Other virtual assistant options like Alexa, Siri and Cortana have a very limited compatibility when it comes to the different devices that can run these virtual assistants. This provides users with comprehensive and efficient virtual assistant experience that is the same across all platforms and not limited to any device.</p>
<h2>Team: Clutch Gurus</h2>
<h3>Team Members &amp; Roles:</h3>
<ul>
  <li>Julio Perez - Product Owner - <a href="mailto:perezj2020@fau.edu">perezj2020@fau.edu</a></li>
  <li>James Merilien - Scrum Master - <a href="mailto:jmerilien2020@fau.edu">jmerilien2020@fau.edu</a></li>
  <li>Miguelangel Pasquariello - Dev Team - <a href="mailto:mpasquariell2020@fau.edu">mpasquariell2020@fau.edu</a></li>
  <li>Tumi Shoyoye - Dev Team - <a href="mailto:oshoyoye2020@fau.edu">oshoyoye2020@fau.edu</a></li>
</ul>
<footer>
    <div class="footer-content">
      <h3>Clutch Gurus</h3>
      <p><strong>Your Virtual Assistant</strong></p>
      <ul class="socials">
        <li><a href="https://github.com/perezj2020/CEN4010_SP23_G12"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p>Copyright &copy; 2023 Company Name | Designed by <a href="#">Clutch Gurus</a></p>
    </div>
  </footer>
  
{% endblock %}
