{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<h1 align="center">Download Elera Voice Assistant</h1>
<img src="{{ url_for('static', filename='logo-black.png') }}" alt="My Image">
<a href="https://drive.google.com/uc?export=download&id=1sxWeCjUAeSGcQERpOzv2n5IUpRMDabk_">Download</a>
<footer>
  <div class="footer-content">
    <h3>Clutch Gurus</h3>
    <p><strong>Your Virtual Assistant</strong></p>
    <ul class="socials">
      <li><a href="https://github.com/perezj2020/CEN4010_SP23_G12"><i class="fa fa-github"></i></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>Copyright &copy; 2023 Company Name | Designed by <a href="#">Clutch Gurus</a></p>
  </div>
</footer>
{% endblock %}
